.img{
     display: block;
     max-width: 100%;
}
#my-img{
     display: block;
     max-width: 100%;
}

.portfolio-img{
     float: left;
     width: 600px;
     height: 300px;
     background-size: cover;
     margin: 0 auto;
     padding: 2em;
}
.intro_img{
     box-shadow: var(--bs);
}

html{
     scroll-behavior: smooth;
}

/* custom properties */

*::before,
*::after{
     box-sizing: border-box;
}
:root{
     --ff-primary: 'Source Sans Pro', sans-serrif;
     --ff-secondary: 'Source Code Pro', monospace;

     --fw-reg: 300;
     --fw-bold: 900;

     --clr-light: #fff;
     --clr-dark: #303030;
     --clr-accent: #CD104D;

     --fs-h1: 3rem;
     --fs-h2: 2.25rem;
     --fs-h3: 1.25rem;
     --fs-body: 1rem;

     --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
           0.125em 0.125em 0.25em rgba(0,0,0,.15); 
}

@media (min-width: 800px) {
     :root{
     --fs-h1: 4.5rem;
     --fs-h2: 3.75rem;
     --fs-h3: 1.5rem;
     --fs-body: 1.125rem;
     }
}

/* general styles */

body{
     background: var(--clr-light);
     color: var(--clr-dark);
     margin: 0;
     font-family: var(--ff-primary);
     font-size: var(--ff-body);
     line-height: 1.6;
}

/* header */

.logo{
     max-width: 200px;
}

header{
     display: flex;
     justify-content: space-between;
     padding: 1em;
}

.nav{
     position: fixed;
     background: var(--clr-dark);
     color: var(--clr-light);
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     z-index: 100;
     display: inline-block;

     transform: translateX(100%);
     transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav_list{
     list-style: none;
     display: flex;
     height: 100%;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: center;
     margin: 0;
     padding: 0;
}


.nav_link{
     color: inherit;
     font-weight: var(--fw-bold);
     font-size: var(--fs-h2);
     text-decoration: none;
}

.nav_link:hover{
     color: var(--clr-accent);
}

.nav-toggle{
     padding: .25em;
     background: transparent;
     border: 0;
     cursor: pointer;
     right: 1em;
     top: 1em;
     z-index: 1000;
     color: #16e0bd;
}

.nav-open .nav {
      transform: translateX(0);
}

.nav-open .nav-toggle {
     position: fixed;
}

.nav-open .hamburger{
     transform: rotate(.625turn);
}
.nav-open::before{
     transform: rotate(90deg) translateX(-6px);
}
.nav-open::after{
     opacity: 0;
}

.hamburger{
     display: block;
     position: relative;
     color: var(--clr-accent);
}

.hamburger,
.hamburger::before,
.hamburger::after{
     background: var(--clr-dark);
     width: 2em;
     height: 3px;
     border-radius: 1em;
     transition: transform 250ms ease-in-out;
     background: var(--clr-accent);
}

.hamburger::before,
.hamburger::after{
     content: '';
     position: absolute;
     left: 0;
     right: 0;
}

.hamburger::before{ top: 6px; }
.hamburger::after{ bottom: 6px; }

/* section */

section{
     padding: 5em 2em;
}

/* button */

.btn{
     display: inline-block;
     padding: .5em 2.5em;
     background: var(--clr-accent);
     color: var(--clr-dark);
     text-decoration: none;
     cursor: pointer;
     font-size: .8rem;
     text-transform: uppercase;
     letter-spacing: 2px;
     font-weight: var(--fw-bold);
     transition: transform 200ms ease-in-out;
}
.btn:hover{
     transform: scale(1.1);
}

/* typography */
strong{
     font-weight: var(--fw-bold);
}

:focus{
     outline: 3px solid var(--clr-accent);
     outline-offset: 3px;
}

h1,
h2,
h3 {
     line-height: 1;
     margin: 0;
}

h1{font-size: var(--fs-h1)}
h2{font-size: var(--fs-h2)}
h3{font-size: var(--fs-h3)}

.section_title{
     margin-bottom: .25em;
}

.section_title--intro{
     font-weight: var(--fw-reg);
}

.section_title--intro strong{
     display: block;
}

.section_subtitle{
     margin: 0;
     font-size: var(--fs-h3);
}

.section_subtitle--intro,
.section_subtitle--about{
     background-color: var(--clr-accent);
     font-family: var(--ff-secondary);
     margin-bottom: 1em;
     padding: .25em 1em;
     display: inline-block;
}

/* intro section */

.intro{
     position: relative;
}

@media (min-width: 600px) {
     .intro{
          display: grid;
          width: min-content;
          margin: 0 auto;
          grid-column-gap: 1em;
          grid-template-areas: 
          "img title"
          "img subtitle";
          grid-template-columns: min-content max-content;
     }
     .intro_img{
          grid-area: img;
          min-width: 250px;
          z-index: 2;
          position: relative;
     }
     .section_subtitle--intro{
          align-self: start;
          grid-column: -1 / 1;
          grid-row: 2;
          text-align: right;
          position: relative;
          left: -1.5em;
          width: calc(100% + 1.5em);
     }
}

/* my services section */
.my-services{
     background-color: var(--clr-dark);
     color: var(--clr-light);
     background-image: url(./images/bg-img-myservices.jpeg);
     background-size: cover;
     text-align: center;
     background-blend-mode: multiply;
}
.section_title--services{
     color: var(--clr-accent);
     position: relative;
}
.section_title--services::after{
     content: '';
     display: block;
     width: 3em;
     height: 1px;
     margin: 0.5em auto 1em;
     background: var(--clr-light);
     opacity: 0.5;
}

.services{
     margin-bottom: 4em;
}

.service{
     max-width: 500px;
     margin: 0 auto;
}

@media (min-width: 800px){
     .services{
          display: flex;
          max-width: 1000px;
          margin-left: auto;
          margin-right: auto;
     }

     .service + .service{
          margin-left: 2em;
     }
}

/* about me section */
.about-me{
     max-width: 1000px;
     margin: 0 auto;
}

.about-me_img{
     box-shadow: var(--bs);
}

@media (min-width: 600px){
     .about-me{
          display: grid;
          grid-template-columns: 1fr 200px;
          grid-template-areas: 
               "title img"
               "subtitle img"
               "text img";
          grid-column-gap: 2em;
     }

     .section_title--about{
          grid-area: title;
     }

     .section_subtitle--about{
          align-self: start;
          grid-column: 1/ -1;
          grid-row: 2;
          text-align: left;
          position: relative;
          left: -1em;
          width: calc(100% + 2em);
          padding-left: 2em;
          padding-right: calc(200px + 3em);

     }

     .about-me_img{
          grid-area: img;
          z-index: 2;
          position: relative;
     }
}
/* my work section */

.my-work{
     background-color: var(--clr-dark);
     color: var(--clr-light);
     text-align: center;
}

.section_subtitle-work{
     color: var(--clr-accent);
     font-weight: var(--fw-bold);
     margin-bottom: 2em;
}

.portfolio{
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolio_item{
     background: var(--clr-accent);
     overflow: hidden;
}

.portfolio_item:focus{
     position: relative;
     z-index: 2;
}

.portfolio-img{
     transition: 
     transform 750ms cubic-bezier(.5, 0, .5, 1),
     optacity 250ms linear;
}

.portfolio-img:hover,
.portfolio-item:focus .portfolio-img{
     transform: scale(1.2);
     opacity: .5;
}

/* footer section */
.footer{
     background: #111;
     color: var(--clr-accent);
     text-align: center;
     padding: 2.5em 0;
}
.footer a { 
     color: inherit;
     text-decoration : none;
}

.footer_link:hover,
.social-list_link:hover{
     opacity: .7;
}

.footer_link:hover{
     text-decoration: underline;
}

.footer_link{
     font-size: var(--fs-h3);
     font-weight: var(--fw-bold);
}

.social-list{
     list-style: none;
     display: flex;
     justify-content: center;
     margin: 2em 0 0;
     padding: 0;
}

.social-list_item{
     margin: 0 .5em;
}

.social-list_link{
     padding: .5em;
}

/* portfolio item indivisual */

.portfolio-item-indivisdual{
     padding: 0 2em 2em;
     max-width: 1000px;
     margin: 0 auto;
}

.portfolio-item-indivisdual p {
     max-width: 600px;
     margin-left: auto;
     margin-right: auto;
}